<div class="mainScreen">
    <div class="active" data-ng-show="activeStream !== ''" data-ng-class="{'activeWithPreview': previewStream !== ''}">
        <video-player></video-player>
    </div>
    <div class="preview" data-ng-show="previewStream !== ''" data-ng-style="previewStreamStyle">
        <video-player></video-player>
    </div>

    <div class="allStreamsContainer" ng-show="allStreamsShown">
        <div id="allStreams0">
            <video-player></video-player>
        </div>
        <div id="allStreams1">
            <video-player></video-player>
        </div>
        <div id="allStreams2">
            <video-player></video-player>
        </div>
        <div id="allStreams3">
            <video-player></video-player>
        </div>
    </div>

    <div class="appTitle">Serg Nights' StreamViewer for Windows 10!</div>
</div>